.Tab {
  position: relative;
  background: #6e45df;
  min-width: 120px;
  font-size: 14px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  transition: 0.3s ease all;
  overflow: hidden;
  cursor: pointer;

  &__Link {
    display: block;
    padding: 12px 25px;
    color: #e1daf5;
    text-decoration: none;

    &_active {
      background: #5131a9;
      color: #eee;
    }
  }

  &__Highlight {
    display: block;
    position: absolute;
    height: 80px;
    width: 300px;
    top: -10px;
    left: var(--left, -100px);
    border-radius: 50px;
    opacity: var(--opacity, 0.8);
    pointer-events: none;
    background: radial-gradient(red, rgba(157, 128, 238, 0));
    transition: 0.3s ease all;
  }
}